.offer {
  color: #333;

  p {
    font-size: 1.1em;
    margin: 10px 0;
    font-weight: bold;

    &:first-child {
      margin-top: 20px;
    }

    &:last-child {
      font-size: 1em;
      text-align: center;
    }
  }

  &__list {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;

    &-item {
      background: #F3F8FC;
      border: 1px solid #E8E8E8;
      font-size: 1.05em;
      border-radius: 5px;
      width: 20%;
      min-width: 190px;
      flex-grow: 1;
      margin: 0 10px 10px 0;
      padding: 5px;
      box-sizing: border-box;
      text-align: center;
    }
  }
}
